@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html,body,div,span,h1,h2,h3,h4,h5,h6,a,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline;
}

html{
	line-height:1;
}

ol,ul{
	list-style:none;
}

p{
	line-height: 1.6
}

a img{
	border:none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
	display:block;
}


*{
	border:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	list-style:none;
	margin:0;
	outline:none;
	padding:0;
	position:relative;
	text-decoration:none;
	z-index:1;
}



::selection{
	background:#19a8f9;
	color:#fff;
}

html,body{
	color:#011a0d;
	background:#fbfbfb;
	font-family:"open sans";
	font-size:14px;
	height:100%;
	width:100%;
}

body{
	overflow-x:hidden;
}

h1,h2{
	font-weight:300;
}

a{
	color:inherit;
	cursor:pointer;
}

img{
	display:block;
	max-width: 100%;
}

header,section,footer,nav{
	display:block;
	float:left;
	width:100%;
}

.bold, b{
	font-weight:700;
}

.light{
	font-weight:300;
}

.br{
	display:block;
	font-size:0;
	height:1px;
}

.wrap{
	height:100%;
	max-height:100%;
	margin:0 auto;
	width:1054px;
}

.v-centered{
	display:block;
	float:none;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateY(-50%) translateX(-50%);
}

button{
	background:transparent;
	border:0;
}


.home header{
	background: transparent!important;
}

header{
	background: #171717;
	padding: 15px 0;
	position:absolute;
	position: fixed;
	transition: 1s;
	z-index:3;
	left: 0;
	top: 0;
	transition: 1s;
	height: 87px;
}

header.fixed{
	position: fixed;
	background: #171717!important;
	height: 60px;
}

header.fixed .logo{
	max-height: 35px;
	max-width: 89px;
}

header .wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo{
	max-width: 148px;
	max-height: 100%;
	transition: 1s;
}

header button{
	display:none;
	background:transparent;
}

header nav{
	display: flex;
	justify-content: space-between;
	width:auto;
}

header nav a{
	color:#fff;
	display:block;
	float:left;
	font-size:18px;
	padding-right: 20px;
}
header nav a:last-of-type{
	padding-right: 0;
}

header nav a:hover,
header nav a.active{
	color: #f2c64d;
}


#banner{
	background:url(../img/banner-home.jpg) center bottom no-repeat;
	background-size: cover;
	font-size:3rem;
}

#banner .wrap{
  display: flex;
  align-items: flex-end;
}

#banner ul{
  display: block;
  background-color: #292929;
  color: #f2c64d;
  text-align: center;
  padding: 20px 40px;
  margin-bottom: 50px;
}

.flex{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.escritorio .flex{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
}

.escritorio .flex .text{
		flex: 1;
		text-align: left;
		
		padding-right: 60px;
}

.escritorio p{
		margin-bottom: 15px;
		line-height: 1.6;
}

.escritorio .flex .gallery{
	justify-content:space-between;
}


.escritorio .flex .gallery figure{
	overflow: hidden;
	position: relative;
}

.escritorio .flex .gallery figure img{
	transition: .5s;
	cursor: pointer;
}

.escritorio .flex .gallery figure:hover img{
	transform: scale(1.1);
	opacity: .5
}

#atuacao{
	margin: 60px 0;
}

#atuacao .icons{
	margin: 60px 0;
}

#atuacao p{
	min-width: 100%;
	text-align: center;
	font-weight: 700;
	display: block;
	margin: 15px 0;
	
}


#atuacao a{
	margin: auto;
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
}
#atuacao a img{
	margin: auto;
}


.pre-footer .wrap{
	padding: 60px 0;
}

.pre-footer .content {
	font-size: 30px;
	margin: 40px;
}

.pre-footer img {
	margin: 40px 0 15px;
}

.inner{
	padding: 120px 0;
	text-align: center;
	font-size: 18px;
}

.inner p.title + img{
	margin: 30px auto;
}

.any-question{
	background-position: top center;
	background-attachment: fixed;
	background-size: 100% auto;
	padding: 120px 0;
}

.any-question .title{
	color: #fff;
	background: #0009;
	padding: 15px 0;

}

.any-question a{
	color: #f2c64d;
	border: solid 2px #f2c64d;
	padding: 15px;
	font-weight: 700;
	display: block;
	margin: 30px auto;
	max-width: 200px;
	text-align: center;
	transition: .5s;
}

.employers {
	text-align: center;
}

.employers .pictures{
	justify-content: space-around;
	min-width: 100%;
	margin: 30px 0;
	text-align: center;
}

.employers .pictures figure{
	
	justify-content: space-around;
	
}

.employers .pictures figure img{
	border-radius: 100%;
	margin: auto;
	max-width: 104px;
	max-height: 104px;
}

.employers .pictures figure figcaption span{
	/*font-weight: 500;*/
	margin: 15px 0 5px;
	font-size: 24px;
	display: block;

}

.employers .pictures figure figcaption {
	font-style: 18px;
	color: #292929;
}

.any-question a:hover{
	color: #fff;
	background-color: #f2c64d;
	
}

.flex.ftop{
	align-items: flex-start;
}

.flex.fcol{
	flex-direction: column;
}

.flex.frow{
	flex-direction: row;
}

p.title{
	font-size: 36px;
	line-height: 46px;
	text-align: center
}

p.subtitle{
	font-size: 18px;
	text-align: center;

}

footer{
	background: #1e1e1e;
	color: #ccc;
	padding: 60px 0 0;
}

footer .flex{
	background: #1e1e1e;
	color: #ccc;
	justify-content: space-between;
	align-items: flex-start;
}

footer .flex div{
	/*flex: 1;*/
	text-align: center
}

footer .flex div img{
	margin: auto
}

footer .flex a,
footer .flex span{
	display: block;
	margin-bottom: 15px;
}

footer .flex span.title{
	color: #f2c64d;
	font-size: 21px;
	margin-top: 15px;
}

footer .flex .fa{
	font-size: 22px;
	margin-top: 15px;

}

footer .flex a:hover{
	color: #f2c64d;

}

.whatsapp{
	position: fixed;
	right: 25px;
	bottom: 25px;
	z-index: 999;
}

@media screen and (max-width: 991px) {
	

}


.copyright{
	min-width: 100%;
	text-align: center;
	margin: 0 auto;
	display: block;
	text-align: center;
	float: left;
	width: 100%;
	display: block;
	align-items: center;
	justify-content: center;
	background: #fbfbfb;
	color: #151515;
	padding: 15px 0;
	font-weight: 700;

}

.copyright img{
	max-height: 14px;
	display: inline-block
}

.copyright span{
	font-size: 10px;
}


@keyframes fadeIn{
	0%{
		opacity:0;
	}

	100%{
		opacity:1;
	}
}

form{
	display:block;
	margin-bottom:10px;
	float:left;
	width:100%;
	padding: 120px 0;
}

form p.title{
	min-width: 100%;
	text-align: left;
	padding: 0 10px 30px;
}

input{
	border: 0;
}

form .textbox{
	flex: 1;
	margin-bottom: 30px;
	padding: 0 10px;
}

form .textbox:nth-of-type(3),
form .textbox:nth-of-type(4){
	min-width:100%;
}

form label{
	color:#656565;
	left:8px;
	padding:0 5px 2px;
	position:absolute;
	top:8px;
	width:100%;
	transition:0.5s;
}


form .text.fixed + label,
form .text:focus + label{
	font-size:0.8rem;
	height:auto;
	top:-7px;
	width:100%;
}

form .text{
	background:none;
	border-bottom: solid 1px #656565;
	color:#656565;
	font-size:1rem;
	padding:5px;
	width:100%;

}

form input.text{
	height:34px;
}

form textarea.text{
	height:128px;
	resize:none;
}

.submit{
	background:#f2c64d;
	color:#fff;
	cursor:pointer;
	height:44px;
	min-width:90px;
	padding:0 19px;
	font-weight:700;
	text-transform:uppercase;
	transition:1s;
	min-width: 100%;
	
}

.submit.hide{
	opacity:0;
}

.submit.loading{
	background:transparent url(../img/loading.gif) 52px center no-repeat;
}

.submit.success,.submit.alert,.submit.error{
	background:transparent;
	cursor:default;
	padding:0;
	text-transform:none;
}

.submit.success{
	background: :#009755;
	color: #fff;
	min-width: 100%;
}

.submit.alert{
	color:#ffb708;
}

.submit.error{
	color:#db4732;
}



@media only screen and (min-width: 992px) and (max-width: 1139px){
	
	.wrap{
		width:960px;
	}

	header nav a{
		font-size:16px;
	}

}

@media only screen and (min-width: 768px) and (max-width: 991px){
	
	.wrap{
		width:768px;
	}

	#banner{
		height:100%;
	}


}

@media only screen and (min-width: 480px) and (max-width: 767px){
	
	.wrap{
		width:480px;
	}

}

@media only screen and (min-width: 992px) {

	#banner .wrap{
		height: 600px;
	}

	.escritorio .flex > div{
		max-width: 50%;
	}



	.escritorio .flex .gallery figure{
		max-width: 250px;
		max-height: 185px;
		margin-bottom: 30px;
	}

	.pre-footer .wrap{
		background: url(../img/hammer.png) right bottom no-repeat;
		background-size: 50%;
	}

	.pre-footer .content {
		max-width: 50%;
	}


	.googlemap{
	  width:100%;
	  height: 400px;
	  position: relative;
	}


	.googlemap iframe{
	  border:0;
	  width:100%; height: 100%;
	  position: absolute;
	  left: 0;
	  top: 0
	}

	.googlemap .data{
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  background: #292929;
	  color: #fff;
	  right: 30px;
	  padding: 25px 50px;
	}

	.googlemap .data > div{
	  position: relative;
	  margin-bottom: 15px;
	  padding-left: 40px;
	  line-height: 1.2;
	}

	.googlemap .data > div img{
	  position: absolute;
	  width: 20px;
	  left: 0;
	  top: 50%;
	  transform: translateY(-50%);
	}

	.googlemap .data a,
	.googlemap .data span{
	  display: block;
	}

}

@media only screen and (max-width: 991px) {

	.copyright{
		margin-bottom: 50px;
	}

	.whatsapp img {
		display: none
	}
	.whatsapp {
	    align-items: center;
	    background: #191919;
	    bottom: 0;
	    display: flex;
	    font-size: 14px;
	    font-weight: 700;
	    height: 50px;
	    left: 0;
	    padding: 0 15px;
	    position: fixed;
	    width: 100%;
	    z-index: 999;
	}

	.whatsapp:before{
		content: '';
		background: url(../img/whatsapp.png) center no-repeat;
		background-size: 30px 30px;
		height: 50px;
		width: 30px
	}

	.whatsapp:after{
		content: 'FALE CONOSCO POR WHATSAPP';
	    color: #fff;
	    float: left;
	    margin-left: 15px;

	}

	#banner .wrap {
		padding: 60px 0;
	}

	#banner ul{
		margin: auto;
	}

	.flex{
		flex-direction: column;
	}

	#atuacao a{
		margin-bottom: 30px;
	}

	form .textbox {
		min-width: 100%;
	}

	.escritorio .flex > div{
		min-width: 100%;
	}

	.escritorio .flex .gallery{
		flex-direction: row;
	}

	.escritorio .flex .gallery figure{
		flex: 1;
		padding: 15px;
	}


	#banner{
		margin-top:40px;
	}

	header{
		position:fixed;
		background:#292929;
		height:60px;
		left:0;
		top:0;
		width:100%;
		z-index:2;
	}

	header .wrap{
		justify-content: flex-start;
		align-items: flex-start;
	}

	header.active nav{
		left:0;
	}

	header .wrap{
		padding:0;
		width:100%;
	}

	header .logo{
		display:none;
	}


	header nav{
		background:#292929;
		border-right:solid 1px #292929;
		flex-direction: column;
		left:-100%;
		float:none;
		height:100vh;
		top:0;
		transition:1s;
		transform:initial;
		width: 320px;
	}

	header nav a{
		background:#292929;
		border-bottom:solid 1px #fbfbfb;
		clear:both;
		height:auto;
		padding:10px 20px;
		width:100%;
	}

	header button{
		background:url(../img/favicon.png) center no-repeat;
		background-size:auto 50%;
		display:block;
		height:40px;
		position:absolute;
		top:0;
		width:100%;
		transition:1s;
	}

	header button span{
		background:#fbfbfb;
		display:block;
		height:2px;
		left:4px;
		position:absolute;
		transition:1s;
		width:30px;
	}

	header button span:nth-child(1){
		top:10px;
	}

	header button span:nth-child(2){
		top:19px;
	}

	header button span:nth-child(3){
		bottom:10px;
	}

	footer .flex{
		background: #1e1e1e;
		color: #ccc;
		justify-content: space-between;
		align-items: flex-start;
	}

	footer .flex div{
		min-width: 100%;
		margin-bottom: 30px
	}

}

@media only screen and (max-width: 479px){
	
	.wrap{
		width:100%;
		padding:0 15px;
	}

	form textarea.text{
		height:64px;
	}

	form .submit{
		width:100%;
		text-align:center;
	}


}

@media only screen and (max-width: 319px){
	
}

@media only screen and (max-device-width: 560px){
	
}

@media only screen and (max-device-width: 480px){


	#contact .contact-details .col1 .text a:before{
		display:block;
		margin-bottom:5px;
		font-weight:normal;
	}

	#contact .contact-details .col1.online a{
		background:#aaa url(../img/mobile-mail-icon.png) no-repeat 5px center;
	}

	#contact .contact-details .col1.online a:nth-of-type(1):before{
		content:"Clique para enviar um email: ";
	}

	#contact .contact-details .col1.online a:nth-of-type(2):before{
		content:"Clique para acessar o site: ";
	}

	#contact .contact-details .col1.offline a{
		background:#aaa url(../img/mobile-phone-icon.png) no-repeat 5px center;
		padding:5px 10px 5px 37px;
	}

	#contact .contact-details .col1.offline a:before{
		content:"Clique para ligar: ";
	}

	;
}






@keyframes flip{
	0%{
		-moz-transform:rotateX(90deg);
		-ms-transform:rotateX(90deg);
		-webkit-transform:rotateX(90deg);
		transform:rotateX(90deg);
	}

	100%{
		-moz-transform:rotateX(0deg);
		-ms-transform:rotateX(0deg);
		-webkit-transform:rotateX(0deg);
		transform:rotateX(0deg);
	}

	;
}


@keyframes fadeIn{
	0%{
		opacity:0;
	}

	100%{
		opacity:1;
	}

	;
}




@keyframes fadeOut{
	0%{
		display:block;
		opacity:1;
	}

	100%{
		display:none;
		opacity:0;
	}

	;
}